.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input_box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: inset 0 0 5px black;
}

.input_box:focus {
  box-shadow: 0 0 10px 1000px rgb(0, 255, 255, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: darksalmon;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: darkgoldenrod;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.todos_single {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos_single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos_single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}
