<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>flask Exercise</title> 
	</head>
	<body>
		<h1>Welcome to the CS survey</h1>

		<form method="POST">
			{{ form.hidden_tag()}}
			{{ form.department.label}} {{form.department}}
			<br>
			{{ form.graduated.label }} {{form.graduated}}
			<br>
			{{form.degree.label}} {{form.degree}}
			<br>
			{{form.job_choice.label}} {{form.job_choice}}
			<br>
			{{form.feedback.label}} {{form.feedback}}
                        <br>
			{{form.submit()}}
		</form> 
	</body>
		
</html>