.home a {
   background: darksalmon;
}

.mainBox {
  background: gray;
  padding: 30px;
}

.mainBox input {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background: darkgray;
    cursor: pointer;
    font-size: 1.5em;  
    margin-left: 5px;
}

.resultBox {
   background: gray;
  padding: 30px;
}

.resultBox ul {
     border-radius: 5px;
  color: white;
  background: darkgray;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 5px;	
}