<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>flask Exercise</title> 
	</head>
	<body>
		<h1>welcome to Flask exercise 3</h1>
		<ul>
			{% for day in days %}
			{% if day == "Sunday" or day == "Saturday" %}
			<li> <b> {{day}}</b></li>
			{% else %}
			<li> {{day}}</li>
			{% endif %}
			{% endfor %}
		</ul>
		<img src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-3foodgroups_fruits_detailfeature.jpg?sfvrsn=64942d53_4" alt="fruit image">
	</body>
</html>