<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>A successful attempt</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">	
</head>
   
<body>
	<span class="home"> 
		<h1><a href= "/">Home Page</a></h1>	
	</span>
	<div class="resultBox">
<h1>Thank, please check your information below</h1>                
	<ul>
		<li> username : {{session["username"]}} </li>	
		<li> password : {{session["password"]}}</li>	
	</ul>
	<p> Your Password passed the 3 requirements! </p>
	</div>
	
        
   </body>
</html>